## Subject under test:
Track Event API 

## Test summary and result:

| Test cases | Type | Result | Bugs |
| ------ | ------ | ------ | ------ |
| TrackEvent_API_200_1 | Manual | PASSED |
| TrackEvent_API_200_2 | Manual | --FAILED-- | [#001] |
| TrackEvent_API_400_1 | Manual | PASSED |
| TrackEvent_API_400_2 | Manual | PASSED |
| TrackEvent_API_400_3 | Manual | PASSED |

**For automation:**
> ![image](https://user-images.githubusercontent.com/131781585/234927336-59fbdf45-a71e-4f86-884d-b8b869801a1b.png)

[#001]: https://github.com/tranquocthanh1989/resola-qa-challenge/blob/main/Reports/Bug%20Report.md
